* {
  margin: 0;
  padding: 0;
}
.login-main {
  height: 100%;
  width: 100%;
}
.login {
  /* height: 1168px; */
  width: 100%;
}
/* Section 1  */

.lo-sec1 {
  height: 286px;
  width: 100%;
  background: #f6f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-lo-sec1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40%;
  width: 65%;
  /* background-color: greenyellow; */
  flex-direction: column;
}
.lo-title1 {
  font-family: "Josefin Sans";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #101750;
}
.lo-sec1-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.lo-sec1-pages div {
  margin: 0 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.lo-sec1-pages div:hover {
  color: #fb2e86;
  cursor: pointer;
}

/* Section 2  */

.lo-sec2 {
  height: 548px;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-lo-sec2 {
  height: 474px;
  width: 27%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: black; */
}
.lo-form {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.lo-form input {
  height: 52px;
  width: 100%;
  font-size: medium;
  /* margin: 15px 0; */
  padding: 0 9px;
}

.child-lo-sec2 h2 {
  font-family: "Josefin Sans";
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.child-lo-sec2 button {
  height: 47px;
  width: 100%;
  background: #fb2e86;
  border-radius: 3px;
  color: white;
  border: none;
}
.child-lo-sec2 button:hover {
  cursor: pointer;
  background: white;
  cursor: pointer;
  color: #fb2e86;
  border: solid 2px #fb2e86;
}
.child-lo-sec2 p,
.lo-sec2-lasttext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #9096b2;
  /* margin: 10px 0; */
}
.lo-fp {
  text-align: left;
  width: 100%;
}
.lo-sec2-lasttext {
  margin-top: 20px;
}

/* Section 3  */

.lo-sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  /* background-color: greenyellow; */
}
.lo-sec3-img {
  background: url("../images/loginpage/lastimg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93px;
  width: 904px;
}

.lo-a {
  color: #fb2e86;
}
.lo-a:hover {
  color: #000000;
}
.lo-error {
  color: red !important;
}

/* Second Component(Profile) */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e33e087;
  height: 260px;
}
.child-profile {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.child-profile-img {
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #f6f5ff;
  background: url("../images/dummy_profile.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.parent-sc-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 32px;
  width: 300px;
}
.child-sc-details {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.child-sc-details label {
  font-size: 19px;
  color: white;
  font-weight: 600;
}
.child-sc-details p {
  font-size: 22px;
  /* color: white; */
  font-style: italic;
  font-weight: 600;
}
.child-sc-details span {
  font-weight: 600;
  color: #fb2e86;
  font-size: 16px;
}

.parent-names {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pencil-img {
  background: url("../images/pencil.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  margin-left: 17px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0px;
}
/* Modal  */

.profile-edit-modal {
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4242429e;
  height: 100%;
  width: 100%;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-profile-edit-modal {
  border-radius: 10px;
  position: relative;
  height: 516px;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #494a48;
}
.profile-modal-close-icon {
  background: url("../images//close.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 7px;
  cursor: pointer;
}
.profile-edit-modal label {
  color: white;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 20px;
}
.profile-edit-modal input {
  margin-bottom: 5px;
  height: 34px;
  width: 259px;
  font-size: 16px;
  padding-left: 5px;
}
.login-modal-btn {
  margin-top: 10px;
  height: 38px;
  width: 123px;
  border: none;
  background-color: #fb2e86;
  color: white;
}
.login-modal-btn:hover {
  border: 2px solid #fb2e86;
  background-color: white;
  color: #fb2e86;
  cursor: pointer;
}
.login-modal-btn:disabled {
  background-color: rgb(241, 86, 86);
  border: none;
  color: white;
}
@media (min-width: 422px) and (max-width: 717px) {
  .child-lo-sec2 {
    width: 52%;
  }
}
@media (min-width: 0) and (max-width: 422px) {
  .child-lo-sec2 {
    width: 76%;
  }
}
