* {
  margin: 0;
  padding: 0;
}
.footer-container {
  height: 475px;
  width: 100%;
  position: relative;
  /* display: none; */
}
.container {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
}
.main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeffb;
}
.last {
  height: 10%;
  width: 100%;

  align-items: center;
  background-color: #e7e4f8;
}
.child-main {
  margin: 0px 27px;
  height: 248px;
  width: 12%;
  line-height: 2;
  text-align: left;
}
.child-main div {
  font-size: 14px;
}
.child-main h3 {
  margin-bottom: 18px;
}
.hekto {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.child-hekto {
  height: 33px;
  width: 100%;
}
.child-hekto button {
  height: 30px;
  width: 90px;
  border: none;
  background-color: #fb2e86;
  color: white;
}
.child-hekto input {
  height: 30px;
  border: none;
  width: 70%;
  padding-left: 5px;
}
.hekto h3 {
  font-size: 33px;
}

.last {
  display: flex;
  justify-content: space-around;
}
.sub-last {
  display: flex;
}
.fb,
.insta,
.twt {
  height: 20px;
  width: 20px;
  margin: 0 3px;
  cursor: pointer;
}
.fb {
  background: url("../images/fb.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.insta {
  background: url("../images/insta.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.twt {
  background: url("../images/twt.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

@media (min-width: 1518px) and (max-width: 1999px) {
  .child-main {
    height: 70%;
    margin: 0px 14px;
  }
  .child-hekto {
    height: 37px;
  }
  .hekto {
    width: 33%;
  }
}
@media (min-width: 929px) and (max-width: 1518px) {
  .child-main {
    height: 83%;
    margin: 0px 14px;
  }
  .child-hekto {
    height: 37px;
  }
  .hekto {
    width: 33%;
  }
}
@media (min-width: 706px) and (max-width: 929px) {
  .child-main {
    height: 100%;
    margin: 0px 14px;
  }
  .child-hekto {
    height: 72px;
  }
  .hekto {
    width: 33%;
  }
}
@media (min-width: 602px) and (max-width: 706px) {
  .child-main {
    height: 100%;
    margin: 0px 14px;
  }
  .child-hekto {
    height: 77px;
  }
  .hekto {
    width: 33%;
  }
}
@media (min-width: 0) and (max-width: 602px) {
  .child-main {
    height: 100%;
    margin: 0px 14px;
  }
  .child-hekto {
    height: 77px;
  }
  .hekto {
    width: 33%;
  }
}
