* {
  margin: 0%;
  padding: 0%;
}

/* Ham Menu  */
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  /* font-family: "Raleway"; */
  box-sizing: border-box;
}
.parent-menu {
  position: relative;
  width: 100vw;
}
.menu li a {
  color: white;
}

.top-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #7e33e0, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-hekto-title {
  color: black;
  font-size: 39px;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    margin-right: 30px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 94px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* Ends Ham Menu  */
.nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden; */
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  width: 100%;
  background-color: #7e33e0;
  color: white;
}
.child-header {
  display: flex;
  width: 307px;
  justify-content: space-between;
  color: white;
}
.myaccnt {
  color: white;
}
.myaccnt:hover {
  color: #fb2e86;
}
.img2 {
  background: url("../images/kart1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 19px;
  width: 19px;
}
.child-nav {
  margin: 0px 30px 0px 30px;
}
.css-1869usk-MuiFormControl-root {
  min-width: 66px !important;
}
.css-1869usk-MuiFormControl-root {
  height: 59px;
}
.child-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-nav ul li {
  margin: 0px 20px 0px 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.title {
  font-family: "Josefin Sans";
  font-size: 34px;
  line-height: 40px;
  color: #0d0e43;
}
.child-nav input {
  border: 2px solid #e7e6ef;
  height: 100%;
  width: 100%;
  /* margin-left: 110px; */
  padding-left: 10px;
}
.navs {
  margin-left: 36px;
}

/* width: 51px;
height: 40px; */
.srch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 379px;
}
.icon {
  width: 40px;
  height: 35px;
  background: #fb2e86;
}
.icon div {
  height: 20px;
  width: 20px;
  color: white;
}
.img1 {
  background: url("../images/Vector.png");
  height: 20px;
  width: 20px;
  margin: 7px 0px 0px 7px;
}
a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .nav {
    visibility: hidden;
    display: none;
  }
  .top-nav {
    display: flex;
  }
}
